@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
    var IsAdmin = User.IsInRole("Admin");
}
<h1>Orders</h1>
@if (Model != null)
{
    <form asp-action="Index" method="get">
        <label for="fromDate">From: </label>
        <input type="date" id="fromDate" name="fromDate" value="@ViewBag.FromDate" />

        <label for="toDate">To: </label>
        <input type="date" id="toDate" name="toDate" value="@ViewBag.ToDate" />

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <table class="table">
        <tr>
            <th>Order status</th>
            <th>Order date</th>
            <th>Delivery option</th>
            <th>Payment option</th>
            <th>Address</th>
            <th>Item quantity</th>
            <th>Total price</th>
            @if (IsAdmin){
                <th>Email</th>
                <th>View order</th>
                <th>Set order status</th>
            }
            else
            {
                <th>View order</th>
                <th>Cancel order</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="card-title">@item.Order.Status</td>
                <td class="card-title">@item.Order.OrderDate.ToString("yyyy-MM-dd")</td>
                <td class="card-title">@item.Order.DeliveryOption</td>
                <td class="card-title">@item.Order.PaymentMethod</td>
                <td class="card-title">@item.User.Address</td>
                <td class="card-title">@item.Order.ItemsCount</td>
                <td class="card-title">@item.Order.PriceTotal.ToString("C2")</td>
                @if (IsAdmin) 
                {
                    <td class="card-title">@item.User.Email</td>
                }
                <td>
                    <form asp-action="ViewOrderProducts" asp-controller="OrderProduct" method="post">
                        <input type="hidden" name="OrderId" value="@item.Order.Id" />
                        <button type="submit" class="btn btn-primary">View Order</button>
                    </form>
                </td>
                <td>
                    @if (IsAdmin)
                    {
                        
                            @if (item.Order.Status == "New")
                            {
                                <form asp-action="Approve" asp-route-id="@item.Order.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Approve</button>
                                </form>
                                <form asp-action="Cancel" asp-route-id="@item.Order.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                                </form>
                            }
                            @if (item.Order.Status == "Approved")
                            {
                                <form asp-action="Delivered" asp-route-id="@item.Order.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Delivered</button>
                                </form>
                            }
                    }
                    else
                    {
                            @if (item.Order.Status == "New")
                            {
                                <form asp-action="Cancel" asp-route-id="@item.Order.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                                </form>
                            }
                    }
                </td>
            </tr>
        }

        @if (ViewBag.TotalPages > 1)
        {
            <div class="justify-content-center d-flex w-100">
                <pagination page-count="@ViewBag.TotalPages" page-target="/products/@ViewBag.CategorySlug"
                        page-number="@ViewBag.PageNumber"
                        page-range="@ViewBag.PageRange">
                </pagination>
            </div>
        }
    </table>
}
else
{
    <h3 class="display-4 text-center">You have not made any orders!</h3>
}